<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/defaultstyle.css">
  </head>
  <body>
    {% include header.html %}
    <main>
      <section>
        {{ content }}
      </section>
    </main>
    {% include footer.html %}
    <script src="/javascripts/dreams.js"></script>
    <script src="/javascripts/burgermenu.js"></script>
    <script src="/javascripts/rotatetext.js"></script>
  </body>
</html>