<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/defaultstyle.css">
  </head>
  <body>
    {% include header.html %}
    <main>
      <div class="row">
          <div class="col-8">
            <section class="prosa">
              <h1 class="rotated">{{ page.title }}</h1>
              {{ content }}
            </section>
          </div>
        <div class="col-4">
          {% include prosanav.html %}
        </div> 
      </div>
    </main>
    {% include footer.html %}
    <script src="/javascripts/dreams.js"></script>
    <script src="/javascripts/burgermenu.js"></script>
    <script src="/javascripts/rotatetext.js"></script>
  </body>
</html>